.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  padding: 5% 0 10%;
}

h1 {
  color:hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 5px;
}

@media only screen and (max-width:1440px) {
  .App {
    width: 100vw;
  }
}

@media only screen and (max-width:375px) {
  .App {
    height: 100vh;
    padding: 0;
  }
}

