.Layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  width: 80%;
  height: 50%;
  border-radius: 20px;
  padding: 2%;
  margin-top: 5%;
  box-shadow: 5px 5px 20px hsl(184, 14%, 56%);
}



@media only screen and (max-width : 375px) {
  .Layout {
    width: 100%;
    flex-direction: column;
    height: 100% !important;
    justify-content: space-between;
  }
}